{% extends 'base.html' %}

{% block content %}

{{tarea.titulo}}
{{error}}
<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button>Actualizar</button>
</form>

<form action="{% url 'borrar' tarea.id %}" method="post">
    {% csrf_token %}
    <button>borrar</button>
</form>

{% if tarea.fechacompletado %}
<h6>Esta atrea ya se completo</h6>
{% else %}
<form action="{% url 'completa' tarea.id %}" method="post">
    {% csrf_token %}
    <button>completar</button>
</form>
{% endif %}
{% endblock %}