{% extends 'base.html' %}

{% block content %}
<h1  class="p-5 text-center">Inicia sesión</h1>
<form method="post" class="text-center container py-7">
    {% csrf_token %}
    <div >
        <label class="mb-4" for="username">Nombre de usuario</label>
        <input type="text" name="username" id="username" class="form-control" placeholder="Di tu nombre">
    </div>
    <div >
        <label class="mt-2 mb-2" for="password">Contraseña</label>
        <input type="text" name="password" id="password" class="form-control" placeholder="Tu contraseña">
    </div>
    {{error}}
    <div class="p-3 text-center"><button>Iniciar sesión</button></div>
</form>

{% endblock %}