{% extends 'base.html' %}

{% block content %}
<h1 class="text-center py-3">Lista de tus tareas completadas</h1>

<ul class="list-group">
    {%for tarea in tareas%}
    <li class="list-group-item">
        
            {% if tarea.important %}
            <h2><a href="{% url 'detarea' tarea.id %}">{{tarea.titulo}}</a></h2>
            {% else %}
            <h4><a href="{% url 'detarea' tarea.id %}">{{tarea.titulo}}</a></h4>
            {% endif %}
            <p class="mt-3">{{tarea.descripcion}}</p>
            <p>Fecha de creación: {{tarea.creado}}</p>
            <p>Fecha completada: {{tarea.fechacompletado|date:'M j y'}}</p>
            <!--<p>{{tarea.fechacompletado}}</p>     -->
        </a>
    </li>
    {%endfor%}

</ul>
<form  class="text-center py-3" action="{% url 'crear' %}">
<button class="btn btn-info">Crear nueva tarea</button>
</form>
{% endblock %}