{% extends 'base.html' %}

{% block content %}
<h1>Lista de tus tareas</h1>

<ul>
    {%for tarea in tareas%}
    <li>
        <a href="{% url 'detarea' tarea.id%}" >
            {% if tarea.important %}
            <h2>{{tarea.titulo}}</h2>
            {% else %}
            <h4>{{tarea.titulo}}</h4>
            {% endif %}
            <p>{{tarea.descripcion}}</p>
            <p>{{tarea.creado}}</p>
        </a>
    </li>
    {%endfor%}

</ul>
<button><a href="crear/">Crear nueva tarea</a></button><!deberia enviar a tasks/crear/--con JS?>
{% endblock %}