{% extends 'base.html' %}

{% block content %}
<h1 class="text-center py-3">Lista de tus tareas sin completar</h1>

<ul class="list-group">
    {%for tarea in tareas%}
    <li class="list-group-item">
        {% if tarea.important %}
        <a href="{% url 'detarea' tarea.id %}">{{tarea.titulo}}</a>
        {% else %}
        <h4><a href="{% url 'detarea' tarea.id %}">{{tarea.titulo}}</a></h4>
        {% endif %}
        <p>{{tarea.descripcion}}</p>
        <p>{{tarea.creado}}</p>
            <!--<p>{{tarea.fechacompletado}}</p>     -->
    </li>
    {%endfor%}
</ul>
<form class="text-center py-3" action="{% url 'crear' %}">
<button>Crear nueva tarea</button>
</form>
<form class="text-center py-3" action="{% url 'tacompl' %}">
    <button>Tareas completas</button>
    </form>
{% endblock %}